header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  gap: 0vmin;
  
  &::after {
    content: "";
    width: 100%;
    height: 60vmin;
    background: linear-gradient(180deg, var(--color-bg-transparent) 0%, var(--color-bg) 70%, var(--color-bg) 100%);
    pointer-events: none;
    z-index: 3;
    box-shadow: 0px 20px 20px 0px var(--color-bg);  
  }
}

.logo {
  text-align: center;
  margin-block: 35vmin 10vmin;
  position: sticky;
  top: 0.45em;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 3;

  animation-name: str-animation;
  animation-direction: alternate;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.intro {
  animation-name: variable-animation;
  animation-direction: alternate;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes variable-animation {
  from {
    opacity: 0;
    color: var(--color-accent);
  }

  to {
    opacity: 1;

  }
}

@keyframes str-animation {
  from {
    opacity: 0;
    color: var(--color-accent);
    font-variation-settings: "wdth" 50, "wght" 400;

  }
  to {
    opacity: 1;
    font-variation-settings: "wdth" var(--width-axis), "wght" 700;
  }
}
