@media (hover: hover) {
  .gallery {
    --scrollbar-size: 1.8em;

    &::-webkit-scrollbar {
      width: var(--scrollbar-size);
      height: var(--scrollbar-size);
    }

    &::-webkit-scrollbar-button {
      background-color: var(--color-bg);
      &:hover {
        border: 1px solid var(--color-secondary);
      }
    }

    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:increment {
      display: block;
    }

    &::-webkit-scrollbar-button:start:increment,
    &::-webkit-scrollbar-button:end:decrement {
      display: none;
    }

    &::-webkit-scrollbar-button {
      width: var(--scrollbar-size);
      height: var(--scrollbar-size);
      border-radius: calc(var(--scrollbar-size) / 2);
      &:increment {
        background-image: url("~assets/images/right.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
      &:decrement {
        background-image: url("~assets/images/left.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-track-piece {
      &:start {
        background-color: transparent;
      }
      &:end {
        background-color: transparent;
      }
    }

    &::-webkit-scrollbar-thumb {
      width: 50px;
      background-color: var(--color-secondary);
      border-radius: calc(var(--scrollbar-size) / 2);
      border: 0.7em solid var(--color-bg);
      &:hover {
        background-color: var(--color-primary);
      }
    }

    &::-webkit-scrollbar-corner {
      display: none;
    }

    &::-webkit-scrollbar-resizer {
      display: none;
    }
  }
}
