@font-face {
  font-family: "Dorn";
  src: url('~assets/fonts/Dorn.ttf') format('truetype-variations');
  font-weight: 400 700;
  font-stretch: 50% 200%;
}

body{
  font-family: "Dorn", system-ui;
  font-size: clamp(1rem, calc(0.5rem + 1vw), 2rem); /* 800 – 2400px */
  line-height: 140%;

  font-variation-settings: "wdth" var(--width-axis), "wght" 400;
  font-optical-sizing: auto;

  -moz-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1;
  -ms-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1;
  -o-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1;
  -webkit-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1;
  font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1;
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

* {
  min-height: 0vw;
  -webkit-tap-highlight-color: transparent;
}

h2.chip{
  font-size: 1em;
  margin-block: 0;
}

a{
  transition: all 0.2s;
  color: var(--color-accent);
  text-decoration-line: none;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 0.3em;

  &:hover{
    font-variation-settings: "wdth" 200, "wght" 700;
  }

  article &:hover {
    color: var(--color-primary);
    text-decoration-line: underline;
  }
}

.justified-text{
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  max-width: 60ch;
  padding: 0 2ch;
  margin-bottom: 1em;
  & p{
    margin-block: 0;
  + p {
    text-indent: 4ch;
  }
  & small{
    font-size: 0.8em;
    letter-spacing: 0.04em;
  }
  }
}

article .justified-text{
  padding-bottom: 25vmin;

}

.uppercase{
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

figcaption.uppercase{
  letter-spacing: 0.22em;
}